<div class="section-color">
<div class="container">
    <h1>Business Models Listing</h1>

    <ul>
        <li>Code: LA111</li>
        <li>Name: Simple site</li>
        <li>Purpose: Information/Portfolio page</li>
    </ul>

    <ul>
        <li>Code: LA211</li>
        <li>Name: Mid-range Simple site</li>
        <li>Purpose: Blog/Social activities pages</li>
    </ul>
</div>
</div>
  
<div class="section-white">
    <div class="container">
        <div id="about" class="section scrollspy">
            <p>ABOUT Content </p>
        </div>
    </div>
</div>
<div class="section-color">
    <div class="container">
        <div id="contacts" class="section scrollspy">
            <p>CONTACTS Content </p>
        </div>
    </div>
</div>
<div class="section-white">
    <div class="container">
        <div id="projects" class="section scrollspy">
            <p>PROJECT Content </p>
        </div>
    </div>
</div>
    
<div class='fixed-box'>
<ul class="section table-of-contents">
    <li><a href="#about">About</a></li>
    <li><a href="#contacts">Contacts</a></li>
    <li><a href="#projects">Projects</a></li>
</ul>
</div>  
    


