<h1>Business Models Listing</h1>


<ul>
    <li>Code: LA111</li>
    <li>Name: Simple site</li>
    <li>Purpose: Information/Portfolio page</li>
</ul>

<ul>
    <li>Code: LA211</li>
    <li>Name: Mid-range Simple site</li>
    <li>Purpose: Blog/Social activities pages</li>
</ul>

<p>Find me in app/views/pages/main.html.erb</p>
