
<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm clearfix">
            <h3><strong>About </strong>this page</h3>
                <small>
                <p>Page for organizing the list of projects.</p>
                <br />
                
                </small>
            </div>
            <div class="col-sm clearfix">
            <h3><strong>Quick</strong> Links</h3>
            <p>
                <a href="#"></a>
                <a href="mailto:pasha.a.smolov@gmail.com">Contact</a> 

            </p>
            </div>
            <div class="col-sm" id="social-icons" >
                <h3><strong>Social </strong>Media</h3>
                <small><p>Social media feeds:</p></small>
                
                <a href="https://www.facebook.com/Marketing-Medium-325344631438766/">
                    <div class="fb-btn">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </div>
                </a>
                <a href="https://www.instagram.com/marketingfaq/">
                    <div class="insta-btn">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/pavelsmolov/">
                    <div class="twitter-btn">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
        <div class="footer-b">
            <small>Copyright 2019</small>
            
        </div>
</footer>

        