<div class="container">
<nav id="navport" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Portfolio Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="nav navbar-nav navbar-right mr-1">
      <li class="nav-item"><a class="nav-link" href="#STARDB">STARDB<span class="sr-only"></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#ALFA-BLOG">ALFA-BLOG<span class="sr-only"></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#CODEOVER">CODEOVER<span class="sr-only"></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#SOMMA">SOMMA<span class="sr-only"></span></a></li>
    </ul>
  </div>
</nav>
</div>