<nav>
    <div class="container">
        <div class="nav-wrapper">
        <a href="#" class="brand-logo">la5</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
            <%# link_to 'About', about_path %>
            <%# link_to 'Contacts', contacts_path %>
        </ul>
        </div>
    </div>
</nav>